.jumbotron{
    background-color: #1d388f;
    color: white;
}

.container{
}

.navbar{
    background-color:#0f0f0f;
    color: #3e8f3e;
}

.navbar-brand{
    color: white;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

form{
  display: table;
  text-align: center;
  margin: auto;
}

.form-control{
  margin-top: 20px;
    text-align: center;
}

.btn-primary{
  margin-top: 30px;
    margin-right: 5px;
}

.btn-info{
  margin-top: 30px;
    margin-left: 5px;
}