.tab { border: solid 1px; }

.td1 { font-family: Helvetica, sans-serif, Verdana, Arial; font-size: 13; font-weight: bold; background-color: #FF9900; color: #FFFFFF; border: 0; }

.txt1 { font-family: Helvetica, sans-serif, Verdana, Arial; font-size: 13; font-weight: bold; background-color: #FF9900; color: #FFFFFF; border: 0; }

.txt2 { font-family: Helvetica, sans-serif, Verdana, Arial; font-size: 12; font-weight: normal; border: thin groove ; border: solid; }

.btn { font-family: Helvetica, sans-serif, Verdana, Arial; font-size: 12; background-color: #0099FF; color: #FFFFFF; border: solid; cursor: hand; }