<div id="list-screen">
    <div id="menu-header">

        <h1>{{title}}</h1>
        <img src="./img/icons/{{background}}.svg">
    </div>
    <ul #listaEventow>
        <li><p class="eventName">Długi tekst ktor moze duuuzo zająć</p>
            <p class="eventTime">03.12.2016 15:26</p></li>
        <li><p class="eventName">Długi tekst ktor moze duuuzługi tekst ktor moze duuuzo zająć</p>
            <p class="eventTime">03.12.2016 15:26</p></li>
        <li><p class="eventName">Długi tekst ktługi tekst ktor moze duuuzor moze duuuzo zająć</p>
            <p class="eventTime">03.12.2016 15:26</p></li>
        <li><p class="eventName">Długi tekst ktor moze duuuzo zająć</p>
            <p class="eventTime">03.12.2016 15:26</p></li>
        <li><p class="eventName">Długiługi tekst ktor moze duuuzługi tekst ktor moze duuuz tekst ktor moze duuuzo
            zająć</p>
            <p class="eventTime">03.12.2016 15:26</p></li>
        <li><p class="eventName">Długi tekst ktługi tekst ktor moze duuuzor moze duuuzo zająćługi tekst ktor moze
            duuuz</p>
            <p class="eventTime">03.12.2016 15:26</p></li>
        <li><p class="eventName">Długi ługi tekst ktor moze duuuztekst ktor moze duuuzo zająć</p>
            <p class="eventTime">03.12.2016 15:26</p></li>
        <li><p class="eventName">Długi tekst ktor mozługi tekst ktor moze duuuzługi tekst ktor moze duuuze duuuzo
            zająć</p>
            <p class="eventTime">03.12.2016 15:26</p></li>

    </ul>
</div>
