<div id="list-screen">
    <div id="menu-header">

        <h1>{{title}}</h1>
        <img src="./img/icons/{{background}}.svg">
    </div>


    <div id="id01"></div>

    <script>
        var xmlhttp = new XMLHttpRequest();
        var url = "http://localhost:5000/event/1";

        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                var myArr = JSON.parse(xmlhttp.responseText);
                myFunction(myArr);
            }
        };
        xmlhttp.open("GET", url, true);
        xmlhttp.send();

        function myFunction(arr) {
            var out = "";
            var i;
            for (i = 0; i < arr.length; i++) {
                out += '<a href="' + arr[i].url + '">' +
                        arr[i].display + '</a><br>';
            }
            document.getElementById("id01").innerHTML = out;
        }
    </script>

    <ul #listaEventow>
        <li><p class="eventName">Długi tekst ktor moze duuuzo zająć</p>
            <p class="eventTime">03.12.2016 15:26</p></li>
        <li><p class="eventName">Długi tekst ktor moze duuuzługi tekst ktor moze duuuzo zająć</p>
            <p class="eventTime">03.12.2016 15:26</p></li>
        <li><p class="eventName">Długi tekst ktługi tekst ktor moze duuuzor moze duuuzo zająć</p>
            <p class="eventTime">03.12.2016 15:26</p></li>
        <li><p class="eventName">Długi tekst ktor moze duuuzo zająć</p>
            <p class="eventTime">03.12.2016 15:26</p></li>
        <li><p class="eventName">Długiługi tekst ktor moze duuuzługi tekst ktor moze duuuz tekst ktor moze duuuzo
            zająć</p>
            <p class="eventTime">03.12.2016 15:26</p></li>
        <li><p class="eventName">Długi tekst ktługi tekst ktor moze duuuzor moze duuuzo zająćługi tekst ktor moze
            duuuz</p>
            <p class="eventTime">03.12.2016 15:26</p></li>
        <li><p class="eventName">Długi ługi tekst ktor moze duuuztekst ktor moze duuuzo zająć</p>
            <p class="eventTime">03.12.2016 15:26</p></li>
        <li><p class="eventName">Długi tekst ktor mozługi tekst ktor moze duuuzługi tekst ktor moze duuuze duuuzo
            zająć</p>
            <p class="eventTime">03.12.2016 15:26</p></li>

    </ul>
</div>
