<div id="main-screen">
    <script src="js/main.js"></script>
    <div id="header">
        <a class="icon left-icon" href="#">
            <img src="./img/icons/settings.svg" alt="..." />
        </a>
    </div>



    <div id="footer">
        <a class="icon left-icon" onclick="nowMode();">
            <img src="./img/icons/calendar.png" alt=NOW" />
        </a>
        <a class="icon right-icon">
            <img src="./img/icons/transport.svg" alt="BUS">
        </a>
        <a class="icon right-icon">
            <img src="./img/icons/wifi.svg" alt="Wi-Fi">
        </a>
        <a class="icon right-icon">
            <img src="./img/icons/wc.svg" alt="WC">
        </a>

    </div>

</div>